<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>System Engineer @ Alibaba</h1>
            <span><address>Ho Chi Minh, VN</address><time>2021 to Present</time></span>
        </header>
        <p> Monitoring ALibaba's DC </p>
    </article>
    <article>
        <header>
            <h1>Radio Engineer @ Nokia Vietnam</h1>
            <span><address>Ho Chi Minh, VN</address><time>2016 to 2021</time></span>
        </header>
        <p> Related to RAN tasks such as BSC, RNC, eNodeB, gNodeB </p>
    </article>
    <article>
        <header>
            <h1>Integration Engineer @ Ericsson Vietnam</h1>
            <span><address>Ho Chi Minh, VN</address><time>2009 to 2016</time></span>
        </header>
        <p> Related to CS-Core tasks such as MSC, MSS, MGW</p>
    </article>    
</section>
